body
{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#f0f4ff,#dff1ff);
margin:0;
padding:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container
{
background:white;
padding:40px;
border-radius:12px;
width:600px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
}

h1
{
color:#2b4eff;
margin-bottom:10px;
}

.subtitle
{
color:#666;
margin-bottom:30px;
}

.grid
{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:25px;
}

input
{
padding:12px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

input:focus
{
border-color:#2b4eff;
outline:none;
}

button
{
background:#2b4eff;
color:white;
padding:14px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
width:100%;
transition:0.3s;
}

button:hover
{
background:#1d36c2;
}

.result-box
{
width:400px;
}

.benign
{
color:green;
font-size:24px;
}

.malignant
{
color:red;
font-size:24px;
}

.backBtn
{
display:inline-block;
margin-top:25px;
padding:10px 20px;
background:#2b4eff;
color:white;
text-decoration:none;
border-radius:6px;
}